<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CallFriendsMenu</key>
	<array>
		<dict>
			<key>Title</key>
			<string>手机短信</string>
			<key>Icon</key>
			<string>callFriendsIcon_phone.png</string>
		</dict>
	</array>
	<key>InviteOpponentMenu</key>
	<array>
		<dict>
			<key>Title</key>
			<string>通过QQ添加</string>
			<key>Icon</key>
			<string>callFriendsIcon__qq.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>通过手机通讯录添加</string>
			<key>Icon</key>
			<string>callFriendsIcon__phone.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>通过微信添加</string>
			<key>Icon</key>
			<string>callFriendsIcon_wechat.png</string>
		</dict>
	</array>
	<key>EditplayerPortraitMenu</key>
	<array>
		<string>换个头像</string>
		<string>默认头像</string>
	</array>
	<key>EditteamLogoMenu</key>
	<array>
		<string>换个队标</string>
		<string>默认队标</string>
	</array>
</dict>
</plist>
