<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI_FillAdditionalProfile_Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>完善球员资料</string>
			<key>Icon</key>
			<string>FillAdditional_PlayerProfile.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>完善球队资料</string>
			<key>Icon</key>
			<string>FillAdditional_TeamProfile.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>召唤小伙伴</string>
			<key>Icon</key>
			<string>FillAdditional_CallFriends.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>寻找组织</string>
			<key>Icon</key>
			<string>FillAdditional_LookingForTeam.png</string>
		</dict>
	</array>
	<key>UI_FillAdditionalProfile_Header_Captain</key>
	<string>，快速召唤你的小伙伴/完善球队资料</string>
	<key>UI_FillAdditionalProfile_Header_Player</key>
	<string>，快速完善你的资料，方便你快速融入球队</string>
	<key>UI_AlertView_OnlyKnown</key>
	<string>知道了</string>
	<key>UI_EditPlayerProfile_Successful</key>
	<string>已成功修改个人资料！</string>
	<key>UI_EditPlayerProfile_NoChange</key>
	<string>你没有修改任何个人资料！</string>
	<key>UI_SMS_Unsupported</key>
	<string>该设备不支持短信。</string>
	<key>UI_SMS_Cancelled</key>
	<string>已取消发送短信。</string>
	<key>UI_SMS_Failed</key>
	<string>发送短信失败！</string>
	<key>UI_SMS_Successful</key>
	<string>发送短信成功！</string>
	<key>UI_RegisterViewTitle_Captain</key>
	<string>我是队长</string>
	<key>UI_RegisterViewTitle_Player</key>
	<string>我是球员</string>
	<key>UI_LoginViewAccountPH</key>
	<string>手机号码/邮箱</string>
	<key>UI_RegisterView_Captain_Section_01</key>
	<string>球队资料</string>
	<key>UI_RegisterView_Captain_Section_02</key>
	<string>队长/领队资料</string>
	<key>UI_RegisterView_Player_Section_01</key>
	<string>球员资料</string>
	<key>UI_FillTeamProfile_teamLogoButton_New</key>
	<string>选择队标</string>
	<key>UI_LoginView_VerificationFailed_Title</key>
	<string>登录失败</string>
	<key>UI_LoginView_VerificationFailed_Message</key>
	<string>账号/密码错误！</string>
	<key>UI_LoginView_VerificationFailed_Cancel</key>
	<string>确认</string>
	<key>UI_RegisterView_Success_Title</key>
	<string>注册成功!</string>
	<key>UI_RegisterView_Success_Message</key>
	<string>恭喜，你已加入“我要踢球”的大家庭！</string>
	<key>UI_RegisterView_Success_OK</key>
	<string>补充详细资料</string>
	<key>UI_Positions</key>
	<array>
		<string>未知</string>
		<string>前锋</string>
		<string>中场</string>
		<string>后卫</string>
		<string>守门员</string>
	</array>
	<key>UI_StadiumDistanceUnit</key>
	<string>公里</string>
	<key>UI_HomeStadiumSetButtonTitle</key>
	<string>设为主场</string>
	<key>UI_HomeStadiumSetButtonOwnTitle</key>
	<string>我的主场</string>
	<key>UI_HomeStadiumSetConfirm</key>
	<string>是</string>
	<key>UI_HomeStadiumSetCancel</key>
	<string>否</string>
	<key>UI_HomeStadiumSetConfirmationMessage</key>
	<string>要将该球场设为主场吗？</string>
	<key>UI_TableViewMore</key>
	<dict>
		<key>BalanceManagement</key>
		<dict>
			<key>LoadMore</key>
			<string>加载更多明细</string>
			<key>Loading</key>
			<string>正在加载...</string>
			<key>NoData</key>
			<string>没有找到收支记录</string>
			<key>NoMoreData</key>
			<string>只有这么多记录</string>
		</dict>
		<key>FindTeam</key>
		<dict>
			<key>LoadMore</key>
			<string>加载更多球队</string>
			<key>Loading</key>
			<string>正在加载...</string>
			<key>NoData</key>
			<string>没有找到球队</string>
			<key>NoMoreData</key>
			<string>只有这么多球队</string>
		</dict>
		<key>PlayerMarket</key>
		<dict>
			<key>LoadMore</key>
			<string>加载更多球员</string>
			<key>Loading</key>
			<string>正在加载...</string>
			<key>NoData</key>
			<string>条件太苛刻啦</string>
			<key>NoMoreData</key>
			<string>就这么多了</string>
		</dict>
		<key>TeamMarket</key>
		<dict>
			<key>LoadMore</key>
			<string>加载更多球队</string>
			<key>Loading</key>
			<string>正在加载...</string>
			<key>NoData</key>
			<string>条件太苛刻啦</string>
			<key>NoMoreData</key>
			<string>就这么多了</string>
		</dict>
		<key>MessageCenter</key>
		<dict>
			<key>LoadMore</key>
			<string>加载更多消息</string>
			<key>Loading</key>
			<string>正在加载...</string>
			<key>NoData</key>
			<string>没有找到消息</string>
			<key>NoMoreData</key>
			<string>只有这么多消息</string>
		</dict>
		<key>Default</key>
		<dict>
			<key>LoadMore</key>
			<string>加载更多</string>
			<key>Loading</key>
			<string>正在加载...</string>
			<key>NoData</key>
			<string>无数据</string>
			<key>NoMoreData</key>
			<string>只有这么多了</string>
		</dict>
	</dict>
	<key>UI_FindTeam_SendingResultMessage</key>
	<string>%@/%@条申请已提交，请耐心等待对方的回复。</string>
	<key>UI_Callin_SendingResultMessage</key>
	<string>%@/%@条邀请已发送，请耐心等待对方的回复。</string>
	<key>UI_MatchNotice_SendingResultMessage</key>
	<string>%@/%@条比赛通知已发送，请耐心等待对方的回复。</string>
	<key>UI_TeamFundNotice_SendingResultMessage</key>
	<string>%@/%@条队费通知已发送，请耐心等待对方的回复。</string>
	<key>UI_MessageTypeSelection_Confirm</key>
	<string>确认</string>
	<key>UI_MessageTypes</key>
	<dict>
		<key>1</key>
		<string>邀请加入</string>
		<key>2</key>
		<string>申请加入</string>
		<key>3</key>
		<string>比赛通知</string>
		<key>4</key>
		<string>临时帮忙</string>
		<key>5</key>
		<string>比赛邀请</string>
		<key>6</key>
		<string>队费通知</string>
	</dict>
	<key>UI_MessageTypes_ForCaptain</key>
	<array>
		<dict>
			<key>TabBarItemName</key>
			<string>收件箱</string>
			<key>TabBarItemImage</key>
			<string>menuIcon_MyMatches.png</string>
			<key>TypeGroups</key>
			<array>
				<dict>
					<key>TypeGroupName</key>
					<string>球队消息</string>
					<key>Types</key>
					<array>
						<string>2</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>TypeGroupName</key>
					<string>个人消息</string>
					<key>Types</key>
					<array>
						<string>4</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TabBarItemName</key>
			<string>发件箱</string>
			<key>TabBarItemImage</key>
			<string>menuIcon_MyMatches.png</string>
			<key>TypeGroups</key>
			<array>
				<dict>
					<key>TypeGroupName</key>
					<string>球队消息</string>
					<key>Types</key>
					<array>
						<string>1</string>
						<string>3</string>
						<string>4</string>
						<string>5</string>
						<string>6</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>UI_MessageTypes_ForPlayerWithTeam</key>
	<array>
		<dict>
			<key>TabBarItemName</key>
			<string>收件箱</string>
			<key>TabBarItemImage</key>
			<string>menuIcon_MyMatches.png</string>
			<key>TypeGroups</key>
			<array>
				<dict>
					<key>TypeGroupName</key>
					<string>球队消息</string>
					<key>Types</key>
					<array>
						<string>3</string>
						<string>6</string>
					</array>
				</dict>
				<dict>
					<key>TypeGroupName</key>
					<string>个人消息</string>
					<key>Types</key>
					<array>
						<string>4</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TabBarItemName</key>
			<string>发件箱</string>
			<key>TabBarItemImage</key>
			<string>menuIcon_MyMatches.png</string>
			<key>TypeGroups</key>
			<array/>
		</dict>
	</array>
	<key>UI_MessageTypes_ForPlayerWithoutTeam</key>
	<array>
		<dict>
			<key>TabBarItemName</key>
			<string>收件箱</string>
			<key>TabBarItemImage</key>
			<string>menuIcon_MyMatches.png</string>
			<key>TypeGroups</key>
			<array>
				<dict>
					<key>TypeGroupName</key>
					<string>个人消息</string>
					<key>Types</key>
					<array>
						<string>4</string>
						<string>1</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TabBarItemName</key>
			<string>发件箱</string>
			<key>TabBarItemImage</key>
			<string>menuIcon_MyMatches.png</string>
			<key>TypeGroups</key>
			<array>
				<dict>
					<key>TypeGroupName</key>
					<string>个人消息</string>
					<key>Types</key>
					<array>
						<string>2</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>UI_MessageStatusType</key>
	<array>
		<string>未读</string>
		<string>已读</string>
		<string>已接受</string>
		<string>已拒绝</string>
		<string>已过期</string>
	</array>
	<key>UI_MessageHead_Format</key>
	<string>%@：%@ 发送时间：%@</string>
	<key>UI_MessageHead_Sent</key>
	<string>接收者</string>
	<key>UI_MessageHead_Received</key>
	<string>发送者</string>
	<key>UI_ReplayApplyin_Accepted</key>
	<string>你已接受&apos;%@&apos;成为球队的一员！</string>
	<key>UI_ReplayApplyin_Declined</key>
	<string>你已拒绝了&apos;%@&apos;的入队申请。</string>
	<key>UI_ReplayCallin_Accepted</key>
	<string>你已同意加入该球队！</string>
	<key>UI_ReplayCallin_Declined</key>
	<string>你已拒绝加入该球队。</string>
	<key>UI_NewPlayer_AcceptMessage</key>
	<string>确认同意&apos;%@&apos;入队？</string>
	<key>UI_NewPlayer_DeclineMessage</key>
	<string>确认拒绝&apos;%@&apos;入队？</string>
	<key>UI_NewPlayer_AcceptTitle</key>
	<string>同意入队确认</string>
	<key>UI_NewPlayer_DeclineTitle</key>
	<string>拒绝入队确认</string>
	<key>UI_NewPlayer_AcceptButton</key>
	<string>同意入队</string>
	<key>UI_NewPlayer_DeclineButton</key>
	<string>拒绝入队</string>
	<key>UI_NewPlayer_CancelButton</key>
	<string>取消</string>
	<key>UI_ActivityRegion_UnselectedTitle</key>
	<string>&lt;无&gt;</string>
	<key>UI_TeamMarket_BoardName_Slogan</key>
	<string>球队宣言</string>
	<key>UI_TeamMarket_BoardName_Recruit</key>
	<string>招新公告</string>
	<key>UI_TeamMarket_BoardName_Challenge</key>
	<string>约球公告</string>
	<key>UI_Message_SendingProgress_Label</key>
	<string>正在发送 - %@/%@</string>
	<key>UI_EditTeamProfile_Title</key>
	<string>球队资料</string>
	<key>UI_CreateTeam_Title</key>
	<string>建立球队</string>
	<key>UI_CreateTeamSucc_AlertView_Title</key>
	<string>恭喜</string>
	<key>UI_CreateTeamSucc_AlertView_Message</key>
	<string>创建球队成功！</string>
	<key>UI_CreateTeamSucc_AlertView_Button</key>
	<string>重新登录</string>
	<key>UI_MatchArrangement_MatchType</key>
	<string>%@人制</string>
	<key>UI_MatchArrangement_CancelTitle</key>
	<string>取消比赛</string>
	<key>UI_MatchArrangement_ConfirmMessage</key>
	<string>确定要取消比赛？</string>
	<key>UI_MatchArrangement_ConfirmOK</key>
	<string>确定</string>
	<key>UI_MatchArrangement_ConfirmCancel</key>
	<string>取消</string>
	<key>UI_MatchArrangement_CancelFailedMessage</key>
	<string>无法取消比赛。</string>
	<key>UI_MatchArrangement_BeginTimeString</key>
	<string>开赛时间：%@</string>
	<key>Hint_CreateMatch_MatchTime</key>
	<string>请选择比赛开始时间。如果该比赛已经开始，则进入比赛数据记录界面；如果该比赛未开始，则进入新建比赛界面。</string>
	<key>Hint_CreateMatch_MatchOpponent</key>
	<string>请输入比赛对手，有两种方式： 1、对手球队不在“我要踢球”中，手动输入对手，可以直接建立比赛；
2、对手球队已加入“我要踢球”，从“球队超市”中选择对手，需要等待对手反馈。</string>
	<key>UI_MatchDetails_ActionButton_CreateRegularMatch</key>
	<string>发出约赛请求</string>
	<key>UI_MatchDetails_ActionButton_CreateFinishedMatch</key>
	<string>创建比赛</string>
	<key>UI_MatchArrangement_NoticeString_Desc</key>
	<string> - 参加/临时/通知</string>
	<key>UI_MatchArrangement_ActionButton_NoticePlayer</key>
	<string>通知球员</string>
	<key>UI_MatchArrangement_ActionButton_EnterScore</key>
	<string>输入比分</string>
	<key>UI_MatchArrangement_ActionButton_ResponseNotice</key>
	<string>回应邀请</string>
	<key>UI_MatchArrangement_ActionButton_ResponseInvitation</key>
	<string>回应约战</string>
	<key>UI_MatchArrangement_ActionButton_Pending</key>
	<string>等待回应</string>
	<key>UI_MatchArrangement_ActionButton_NotInvited</key>
	<string>未被邀请</string>
	<key>UI_MatchArrangement_ActionButton_Accepted</key>
	<string>同意参赛</string>
	<key>UI_MatchArrangement_ActionButton_Refused</key>
	<string>拒绝参赛</string>
	<key>UI_MatchArrangement_ActionButton_Expired</key>
	<string>已过期</string>
	<key>UI_MatchArrangement_ActionButton_OpponentRefused</key>
	<string>对手拒战</string>
	<key>UI_MatchArrangement_NoticePlayerTitle</key>
	<string>请选择要通知的人员</string>
	<key>UI_MatchArrangement_NoticePlayerCancel</key>
	<string>取消</string>
	<key>UI_MatchArrangement_NoticePlayerMyTeamates</key>
	<string>我的队员</string>
	<key>UI_MatchArrangement_NoticePlayerTempFavor</key>
	<string>临时帮忙</string>
	<key>UI_MatchArrangement_PlayerResponseTitle</key>
	<string>回应参赛邀请</string>
	<key>UI_MatchArrangement_PlayerResponseCancel</key>
	<string>取消</string>
	<key>UI_MatchArrangement_PlayerResponseAccept</key>
	<string>同意参赛</string>
	<key>UI_MatchArrangement_PlayerResponseRefuse</key>
	<string>拒绝参赛</string>
	<key>UI_MatchArrangement_InvitationResponseTitle</key>
	<string>回应约战邀请</string>
	<key>UI_MatchArrangement_InvitationResponseCancel</key>
	<string>取消</string>
	<key>UI_MatchArrangement_InvitationResponseAccept</key>
	<string>接受约战</string>
	<key>UI_MatchArrangement_InvitationResponseRefuse</key>
	<string>拒绝约战</string>
	<key>UI_MatchDetails_Title_CreateMatch</key>
	<string>建立比赛</string>
	<key>UI_MatchDetails_Title_ViewDetails</key>
	<string>比赛详情</string>
	<key>UI_MatchArrangement_Tab</key>
	<array>
		<dict>
			<key>Title</key>
			<string>未开始</string>
			<key>Icon</key>
			<string>tabIcon_NotStart.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>已结束</string>
			<key>Icon</key>
			<string>tabIcon_Ended.png</string>
		</dict>
	</array>
	<key>UI_ReplyMatchNoticeAlertView_Title_Succ</key>
	<string>成功！</string>
	<key>UI_ReplyMatchNoticeAlertView_Title_Fail</key>
	<string>失败！</string>
	<key>UI_ReplyMatchNoticeAlertView_Message</key>
	<string>你已确认%@该比赛。</string>
	<key>UI_ReplyMatchNoticeAlertView_Message_Accept</key>
	<string>参加</string>
	<key>UI_ReplyMatchNoticeAlertView_Message_Refuse</key>
	<string>不参加</string>
	<key>UI_ReplyMatchInvitationAlertView_Title_Succ</key>
	<string>成功！</string>
	<key>UI_ReplyMatchInvitationAlertView_Title_Fail</key>
	<string>失败！</string>
	<key>UI_ReplyMatchInvitationAlertView_Message</key>
	<string>你已确认%@&lt;%@&gt;的挑战。</string>
	<key>UI_ReplyMatchInvitationAlertView_Message_Accept</key>
	<string>接受</string>
	<key>UI_ReplyMatchInvitationAlertView_Message_Refuse</key>
	<string>不接受</string>
	<key>DateFormatter_BalanceTransaction</key>
	<string>yyyy-MM-dd</string>
	<key>UI_BalanceTransaction_Title_Add</key>
	<string>添加收支</string>
	<key>UI_BalanceTransaction_Title_View</key>
	<string>收支详情</string>
	<key>UI_BalanceTransaction_AmountUnit</key>
	<string>元</string>
	<key>UI_BalanceTransaction_Type_TeamFund</key>
	<string>队费</string>
	<key>UI_BalanceTransaction_AlertView_Added_Title</key>
	<string>成功！</string>
	<key>UI_BalanceTransaction_AlertView_Added_Message</key>
	<string>添加收支项目成功。</string>
	<key>UI_BalanceTransaction_PlayerUnit</key>
	<string>人</string>
	<key>UI_BalanceTransaction_HistoryTitle</key>
	<string>历史队费：</string>
	<key>UI_BalanceTransaction_PlayerListTitle_Add</key>
	<string>选择缴费球员</string>
	<key>UI_BalanceTransaction_PlayerListTitle_View</key>
	<string>缴费球员</string>
	<key>UI_BalanceManagement_Type_Credit</key>
	<string>支出</string>
	<key>UI_BalanceManagement_Type_Debit</key>
	<string>收入</string>
	<key>UI_TeamFundInquiry_StartDateTitle</key>
	<string>起始日期</string>
	<key>UI_TeamFundInquiry_EndDateTitle</key>
	<string>结束日期</string>
	<key>UI_TeamFundInquiry_PaidSectionTitle</key>
	<string>个人队费金额：</string>
	<key>UI_MatchScoreDetails_OwnGoal</key>
	<string>对方乌龙</string>
	<key>UI_MatchScoreDetails_None</key>
	<string>无</string>
	<key>UI_MatchScoreDetails_Placeholder</key>
	<string>选择队员</string>
	<key>UI_MatchScoreDetails_ScoreTitle</key>
	<string>比分</string>
	<key>UI_StadiumSelection_Home</key>
	<string>我的主场</string>
	<key>UI_StadiumSelection_None</key>
	<string>无</string>
	<key>UI_LocationDisableWarning_Title</key>
	<string>定位功能已禁用</string>
	<key>UI_LocationDisableWarning_Message</key>
	<string>禁用定位功能将导致部分功能失效，如需启用请前往“设置”-“隐私”-“定位服务”中修改设置。</string>
	<key>UI_MatchDetails_Time</key>
	<string>时间</string>
	<key>UI_MatchDetails_Opponent</key>
	<string>对手</string>
	<key>UI_MatchDetails_Stadium</key>
	<string>球场</string>
	<key>UI_MatchDetails_Standard</key>
	<string>赛制</string>
	<key>UI_MatchDetails_Cost</key>
	<string>费用</string>
	<key>UI_CallFriends_Cancel</key>
	<string>取消</string>
</dict>
</plist>
