<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matchListCount</key>
	<integer>5</integer>
	<key>teamListCount</key>
	<integer>10</integer>
	<key>messageListCount</key>
	<integer>5</integer>
	<key>playersSearchListCount</key>
	<integer>5</integer>
	<key>teamsSearchListCount</key>
	<integer>5</integer>
	<key>balanceManagementCount</key>
	<string>5</string>
	<key>autoRefreshPeriod</key>
	<integer>60</integer>
	<key>isRememberAccount</key>
	<true/>
	<key>refreshUnreadMessageAmountDuration</key>
	<integer>10</integer>
	<key>isDebug</key>
	<false/>
	<key>clearSettingWhileLaunch</key>
	<false/>
</dict>
</plist>
