<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootMenu</key>
	<array>
		<dict>
			<key>Title</key>
			<string>我的球队</string>
			<key>Icon</key>
			<string>menuIcon_myTeams.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>队费管理</string>
			<key>Icon</key>
			<string>menuIcon_finance.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>超市</string>
			<key>Icon</key>
			<string>menuIcon_superMarket.png</string>
		</dict>
	</array>
	<key>0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>比赛安排</string>
			<key>Identifier</key>
			<string>Captain_MatchArrangement</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>热身赛</string>
			<key>Identifier</key>
			<string>Captain_WarmupMatch</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>我的队员</string>
			<key>Identifier</key>
			<string>Captain_MyPlayers</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>新人入队</string>
			<key>Identifier</key>
			<string>Captain_NewPlayer</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>球队资料</string>
			<key>Identifier</key>
			<string>EditTeamProfile</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>Title</key>
			<string>收支管理</string>
			<key>Identifier</key>
			<string>Captain_BalanceManagement</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>队费查询</string>
			<key>Identifier</key>
			<string>Captain_TeamFundInquiry</string>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>Title</key>
			<string>球队</string>
			<key>Identifier</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>球员</string>
			<key>Identifier</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>球场</string>
			<key>Identifier</key>
			<string>StadiumListView</string>
		</dict>
	</array>
</dict>
</plist>
