<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootMenu</key>
	<array>
		<string>我的比赛</string>
		<string>我的球队</string>
		<string>队费管理</string>
	</array>
	<key>0</key>
	<array>
		<dict>
			<key>Title</key>
			<string>比赛安排</string>
			<key>Identifier</key>
			<string>Captain_MatchArrangement</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>比赛超市</string>
			<key>Identifier</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>比赛通知</string>
			<key>Identifier</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>比赛数据</string>
			<key>Identifier</key>
			<string></string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>Title</key>
			<string>我的队员</string>
			<key>Identifier</key>
			<string>Captain_MyPlayers</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>新人入队</string>
			<key>Identifier</key>
			<string>Captain_NewPlayer</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>球队资料</string>
			<key>Identifier</key>
			<string>Captain_TeamProfile</string>
		</dict>
	</array>
</dict>
</plist>
