<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMS_InviteFriends</key>
	<string>邀请好友</string>
	<key>Applyin_Default</key>
	<string>申请入队预定义消息</string>
	<key>Trial_Default</key>
	<string>通知试训预定义消息</string>
	<key>Recruit_Default</key>
	<string>招募队员预定义消息</string>
	<key>TemporaryFavor_Default</key>
	<string>临时帮忙预定义消息</string>
	<key>MatchNotice_Default</key>
	<string>比赛通知预定义消息</string>
	<key>TeamFundNotice_Default</key>
	<string>队费通知预定义消息</string>
</dict>
</plist>
