<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI_FillAdditionalProfile_Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>完善球员资料</string>
			<key>Icon</key>
			<string>FillAdditional_PlayerProfile.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>完善球队资料</string>
			<key>Icon</key>
			<string>FillAdditional_TeamProfile.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>召唤小伙伴</string>
			<key>Icon</key>
			<string>FillAdditional_CallFriends.png</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>寻找组织</string>
			<key>Icon</key>
			<string>FillAdditional_LookingForTeam.png</string>
		</dict>
	</array>
	<key>UI_FillAdditionalProfile_Header_Captain</key>
	<string>，快速召唤你的小伙伴/完善球队资料</string>
	<key>UI_FillAdditionalProfile_Header_Player</key>
	<string>，快速完善你的资料，方便你快速融入球队</string>
	<key>UI_AlertView_OnlyKnown</key>
	<string>知道了</string>
	<key>UI_EditPlayerProfile_Successful</key>
	<string>已成功修改个人资料！</string>
	<key>UI_EditPlayerProfile_NoChange</key>
	<string>你没有修改任何个人资料！</string>
	<key>UI_SMS_Unsupported</key>
	<string>该设备不支持短信。</string>
	<key>UI_SMS_Cancelled</key>
	<string>已取消发送短信。</string>
	<key>UI_SMS_Failed</key>
	<string>发送短信失败！</string>
	<key>UI_SMS_Successful</key>
	<string>发送短信成功！</string>
	<key>UI_RegisterViewTitle_Captain</key>
	<string>我是队长</string>
	<key>UI_RegisterViewTitle_Player</key>
	<string>我是球员</string>
	<key>UI_LoginViewAccountPH</key>
	<string>手机号码/邮箱</string>
	<key>UI_RegisterView_Captain_Section_01</key>
	<string>球队资料</string>
	<key>UI_RegisterView_Captain_Section_02</key>
	<string>队长/领队资料</string>
	<key>UI_RegisterView_Player_Section_01</key>
	<string>球员资料</string>
	<key>UI_FillTeamProfile_teamLogoButton_New</key>
	<string>选择队标</string>
	<key>UI_LoginView_VerificationFailed_Title</key>
	<string>登录失败</string>
	<key>UI_LoginView_VerificationFailed_Message</key>
	<string>账号/密码错误！</string>
	<key>UI_LoginView_VerificationFailed_Cancel</key>
	<string>确认</string>
	<key>UI_RegisterView_Success_Title</key>
	<string>注册成功!</string>
	<key>UI_RegisterView_Success_Message</key>
	<string>恭喜，你已加入“我要踢球”的大家庭！</string>
	<key>UI_RegisterView_Success_OK</key>
	<string>补充详细资料</string>
	<key>UI_Positions</key>
	<array>
		<string>未知</string>
		<string>前锋</string>
		<string>中场</string>
		<string>后卫</string>
		<string>守门员</string>
	</array>
	<key>UI_StadiumDistanceUnit</key>
	<string>公里</string>
	<key>UI_HomeStadiumSetButtonTitle</key>
	<string>设为主场</string>
	<key>UI_HomeStadiumSetButtonOwnTitle</key>
	<string>我的主场</string>
	<key>UI_HomeStadiumSetConfirm</key>
	<string>是</string>
	<key>UI_HomeStadiumSetCancel</key>
	<string>否</string>
	<key>UI_HomeStadiumSetConfirmationMessage</key>
	<string>要将该球场设为主场吗？</string>
	<key>UI_FindTeam_LoadMore</key>
	<string>加载更多球队</string>
	<key>UI_FindTeam_NoData</key>
	<string>没有找到球队</string>
	<key>UI_FindTeam_NoMoreData</key>
	<string>只有这么多球队</string>
	<key>UI_FindTeam_Loading</key>
	<string>正在加载...</string>
	<key>UI_FindTeam_SendingResultMessage</key>
	<string>%@/%@条申请已提交，请耐心等待对方的回复。</string>
	<key>UI_Callin_SendingResultMessage</key>
	<string>%@/%@条邀请已发送，请耐心等待对方的回复。</string>
	<key>UI_MessageTypes</key>
	<array>
		<dict>
			<key>TypeName</key>
			<string>队内消息</string>
			<key>TypeIcon</key>
			<string>menuIcon_myMatches.png</string>
			<key>Subtypes</key>
			<dict>
				<key>1</key>
				<string>邀请入队</string>
				<key>2</key>
				<string>入队申请</string>
			</dict>
		</dict>
		<dict>
			<key>TypeName</key>
			<string>其他消息</string>
			<key>TypeIcon</key>
			<string>menuIcon_myMatches.png</string>
			<key>Subtypes</key>
			<dict>
				<key>1</key>
				<string>邀请入队</string>
				<key>2</key>
				<string>入队申请</string>
			</dict>
		</dict>
	</array>
	<key>UI_MessageSubtypeStatus</key>
	<array>
		<string>未读</string>
		<string>已读</string>
		<string>已接受</string>
		<string>已拒绝</string>
		<string>已过期</string>
	</array>
	<key>UI_MessageCenter_LoadMore</key>
	<string>加载更多消息</string>
	<key>UI_MessageCenter_NoData</key>
	<string>没有找到消息</string>
	<key>UI_MessageCenter_NoMoreData</key>
	<string>只有这么多消息</string>
	<key>UI_MessageCenter_Loading</key>
	<string>正在加载...</string>
	<key>UI_ReplayApplyin_Accepted</key>
	<string>你已接受&apos;%@&apos;成为球队的一员！</string>
	<key>UI_ReplayApplyin_Declined</key>
	<string>你已拒绝了&apos;%@&apos;的入队申请。</string>
	<key>UI_ReplayCallin_Accepted</key>
	<string>你已同意加入该球队！</string>
	<key>UI_ReplayCallin_Declined</key>
	<string>你已拒绝加入该球队。</string>
	<key>UI_NewPlayer_AcceptMessage</key>
	<string>确认同意&apos;%@&apos;入队？</string>
	<key>UI_NewPlayer_DeclineMessage</key>
	<string>确认拒绝&apos;%@&apos;入队？</string>
	<key>UI_NewPlayer_AcceptTitle</key>
	<string>同意入队确认</string>
	<key>UI_NewPlayer_DeclineTitle</key>
	<string>拒绝入队确认</string>
	<key>UI_NewPlayer_AcceptButton</key>
	<string>同意入队</string>
	<key>UI_NewPlayer_DeclineButton</key>
	<string>拒绝入队</string>
	<key>UI_NewPlayer_CancelButton</key>
	<string>取消</string>
	<key>UI_ActivityRegion_UnselectedTitle</key>
	<string>&lt;无&gt;</string>
	<key>UI_PlayerMarket_LoadMore</key>
	<string>加载更多球员</string>
	<key>UI_PlayerMarket_NoData</key>
	<string>条件太苛刻啦</string>
	<key>UI_PlayerMarket_NoMoreData</key>
	<string>就这么多了</string>
	<key>UI_PlayerMarket_Loading</key>
	<string>正在加载...</string>
	<key>UI_Message_SendingProgress_Label</key>
	<string>正在发送 - %@/%@</string>
	<key>UI_EditTeamProfile_Title</key>
	<string>球队资料</string>
	<key>UI_CreateTeam_Title</key>
	<string>建立球队</string>
</dict>
</plist>
