<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<array>
		<string>海淀</string>
		<string>西城</string>
		<string>朝阳</string>
	</array>
	<key>上海</key>
	<array>
		<string>闸北</string>
		<string>虹口</string>
		<string>黄埔</string>
	</array>
</dict>
</plist>
